/* Layout */

body {
  margin: 0;
}

#footer__container {
  padding: 50px;
}

#footer__container > *:nth-child(n) {
  margin: 0 auto 50px auto;
}

#footer__container > *:last-child {
  margin: 0;
}

header,
main > *:nth-child(n) {
  margin: 0 0 180px 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 30px;
}

.download-button {
  display: block;
  margin: 0 auto;
}

.ios-download-button {
  margin: 0 auto 25px auto;
}

#cb-logo {
  display: block;
  margin: 130px auto 60px auto;
}

#mac-img {
  margin: 0 0 50px 0;
}

#mac-img,
#devices-img {
  display: block;
  width: 100%;
  max-width: 500px;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
}

#company-logos-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-logo {
  width: 130px;
  margin: 0 0 50px 0;
}

.company-logo:last-child {
  margin: 0;
}

#footer-cb-logo {
  display: block;
  margin: 0 auto 50px auto;
}

h2,
h3 {
  margin-bottom: 0.5rem;
}

h2 + p,
h3 + p,
.sub-container {
  margin-bottom: 3.125rem;
}

.sub-container:last-child {
  margin-bottom: 0;
}

#workflow__main-heading + p {
  margin-bottom: 5rem;
}

#socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__icon {
  fill: #4c545c;
}

.socials__icon:nth-child(2) {
  margin: 0 40px;
}

.socials__icon:hover {
  fill: hsl(171, 66%, 44%);
}

/* Layout End */

/* Styling */

body {
  background: url("images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

footer {
  background: #f5f6f8;
}

.download-button {
  width: 100%;
  max-width: 310px;
  box-sizing: border-box;
  padding: 1rem .875rem;
  border-radius: 1000px;
  cursor: pointer;
}

.ios-download-button,
.mac-download-button {
  border: none;
}

.ios-download-button {
  background: hsl(171, 66%, 44%);
  border-bottom: 3px solid #1f9f8a;
  box-shadow: 0 5px 20px hsl(173, 40%, 65%);
}

.mac-download-button {
  background: hsl(233, 100%, 69%);
  border-bottom: 3px solid #4f62db;
  box-shadow: 0 5px 20px hsl(233, 100%, 85%);
}

.ios-download-button:hover {
  background: #5dccbb;
  border-bottom: 3px solid #52b7a7;
}

.mac-download-button:hover {
  background: #8896ff;
  border-bottom: 3px solid #7987e7;
}

a:link {
  text-decoration: none;
}

/* Styling End */

/* Typography */

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(201, 11%, 66%);
  text-align: center;
}

#nav-links {
  font-size: 1.125rem;
  line-height: 3rem;
  color: hsl(210, 10%, 33%);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-cluster__link > a:visited {
  color: hsl(210, 10%, 33%);
}

.nav-cluster__link > a:hover {
  color: hsl(171, 66%, 44%);
}

p {
  line-height: 1.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h2,
h3 {
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}

#main-heading {
  font-size: 2rem;
}

.download-button {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

/* Typography End */

@media screen and (min-width: 1440px) {
  /* Layout */

  .container {
    max-width: none;
    padding: 0;
  }

  header,
  .section__main-heading,
  .section__main-pg,
  #download {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  #track__info-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1440px;
    margin: 0 auto;
  }

  #track__info {
    width: 350px;
  }
  
  #workflow__info-container {
    display: flex;
    justify-content: space-between;
    
    width: 1050px;
    margin: 0 auto;
  }

  .sub-container {
    width: 30%;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
  }

  .sub-container,
  .sub-container > p {
    margin-bottom: 0;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 500px;
    margin: 0 auto;
  }

  .download-button {
    width: 240px;
  }

  .ios-download-button {
    margin: 0;
  }
  
  #mac-img,
  #devices-img {
    max-width: none;
    margin: 0 auto;
  }
  
  #mac-img {
    width: 700px;
    margin: 0 100px 0 0;
  }

  #devices-img {
    width: 750px;
  }

  #company-logos-section {
    flex-direction: row;
    justify-content: space-between;

    width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }

  .company-logo {
    margin: 0;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #footer__container {
    display: flex;
    align-items: center;
    
    width: 1440px;
    box-sizing: border-box;
    padding: 35px 165px;
  }

  #footer__container > *:nth-child(n) {
    margin: 0;
  }

  #footer-cb-logo {
    margin: 0 135px 0 0 !important;
  }

  #nav-links {
    display: flex;
    flex-wrap: wrap;

    width: 560px;
  }

  #nav-cluster__contact-us {
    order: 3;
  }
  
  #nav-cluster__privacy-policy {
    order: 1;
  }
  
  #nav-cluster__press-kit {
    order: 4;
  }
  
  #nav-cluster__install-guide {
    order: 2;
  }

  .nav-cluster__link {
    width: calc(100% / 3);
  }

  #socials {
    margin: 0 0 0 auto !important;
  }

  .socials__icon:nth-child(2) {
    margin: 0 25px;
  }

  /* Layout End */

  /* Styling */

  body {
      background: url("images/bg-header-desktop.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }

  /* Styling End */

  /* Typography */

  #main-heading {
    font-size: 3rem;
  }

  #main-heading + p {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h2 + p {
    font-size: 1.125rem;
  }

  p {
    line-height: 1.875rem;
  }

  #track__info {
    text-align: left;
  }

  #footer-cb-logo {
    height: 55px;
    width: 55px;
  }

  #nav-links {
    line-height: 2.5rem;
  }

  .nav-cluster__link {
    text-align: left;
  }

  /* Typography End */
}